<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" >
<title>关于Fizz</title>
<link type="text/css" rel="stylesheet" href="{{url_for('static',filename = 'css/myself.css')}}"/>
</head>
<body>
    <div class = "back"></div>
    <div class = "top">
        <h1>猛虎卧丘</h1>
        <p>Fizz的个人博客</p>
    </div>
    <div class="dir">
        <ul>
            <li id = "fir" ><a href="./main.html">主页</a></li>
            <li id = "sec"><a href="./total.html">存档 </a></li>
            <li id = "thi"><a href="./myself.html">关于</a></li>
        </ul>
        <br>
        <hr>
    </div>
    <div class="intro">
        <h1>Fizz</h1>
        <p>Fizz,矿大某个不知名准程序员，喜欢唐诗，宋词，MineCraft，健身，Coding。</p>
        <p>2018-8-20接触Python，从此一发不可收拾，被迫学习了很多东西，但是很多都忘了。2020-2-14创建这个网站，希望记录自己的笔记，以此纪念自己21年的单身生活，
        突然有点莫名的孤单感。算了，一切都会有的，只是时间问题。</p>
        <p>人生就像一场戏，遇到了某个人或者某个兴趣，就会一直相伴，相扶到老。</p>
        <p>大学四年如果很迷茫，就看书和coding吧。</p>
        <p>明明可以靠颜值吃饭，非要靠实力，以后就好好Coding和认真对待生活中的每一件事。</p>
        <p>多年以后某个阳光明媚的午后，你看着自己一手建立的这个网站，你或许会会心一笑。</p>
        <p id ="QQ">联系钩钩：3413125076</p>
    </div>
</body>
</html>