<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"> 
<title>
    进入博客
</title>
<style>
    img#back{
         width: 100%;
         height: 100%;
         border-style: outset;
         border-width: 5px;
    }
    h.word{
        width: 200px;
        height: 50px;
        position: fixed;
        bottom: 50%;
        left: 40%;
        font-weight: lighter;
    }
    a{
        text-decoration: none;
        color: black;
    }
</style>
</head>

<body>
    <div class = "background">
        <img id = "back" src = "static/image/test.jpg" alt = "wait please"/>
    </div>
    <h class = "word"><a href = "/flask/direction/">代码是我热爱心爱之人和这个世界的方式。</a></h>
</body>
</html>